@font-face {
  font-family: cookie;
  src: url(./fonts/Cookie-Regular.ttf);
}

html,
body,
#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --main-color: #8B5A2D;
  --text-color: white;
  --sub-color: #F2DBB6;
  --orange: #E1583C;
  --active-orange: #963420;
  --background: #DDBF8D;

}


body{
    /* background-image: url(./components/back.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--background);

}


h1{
  font-size: 30pt;
  color: var(--orange);
  font-family: cookie;
    text-align: center;
}

h2{
  font-size: 25pt;
  color: var(--orange);
  font-weight: 300;
  font-family: cookie;
  text-align: center;
}

h3{
  font-size: 20pt;
  font-family: cookie;

}

h4{
  font-size: 25pt;
  color: var(--main-color);
  font-family: cookie;
}

p{
  font-size: 20pt;
  color: var(--main-color);
  font-family: cookie;
  text-align: center;
}

li{
  font-size: 15pt;
  color: var(--main-color);
  font-family: cookie;

}

#welcome{
  color: var(--main-color);
}

/* CSS */
.active-title {
  color: rgb(255, 255, 255);
    background-color: var(--active-orange);
  
  /* Set the color you want for active titles */
}

.inactive-title {
  color: rgb(240, 240, 240);
    background-color: var(--orange);
  /* Set the color you want for inactive titles */
}

.home{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-image: url(./images/Mask\ Group\ 1.png); */
}

#grandma-img{
  mix-blend-mode:luminosity;
    display: flex;
      align-items: center;
      flex-direction: column;
      margin-top: 30vh;
      height: 70%;
      position: absolute;
}
#home-img {
  mix-blend-mode: color-burn;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  position: absolute;
}

#overlay {
  height: 100vh;
  width: 100%;
  mix-blend-mode: overlay;
  position: absolute;
  opacity: 60%;

}

#overlay2{
      height: 120vh;
      width: 100%;
      mix-blend-mode: overlay;
      position: absolute;
      opacity: 60%;
      z-index: -5;
      margin-top: -19%;
  
    
}

.preview {
  margin-top: 20px;
  padding: 20px;
  height: 500px;
}


.div {
  width: 13%;
  cursor: pointer;
  z-index: 5;
  margin: 1%;
  padding-left: 1%;
  position: relative;
  
}

.div:hover {
  transition: 0.5s;
  background-color: orangered;

}

/* .div-flex {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  position: absolute;
  
} */



/* 
.container-items {
  margin: 10px;
  padding: 20px;
  width: 100%;
  background-color: #F2DBB6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 180, 82, 0.5);
  overflow-y: auto;
  max-height: 300px;
  scrollbar-width: thin;
  scrollbar-color: var(--main-color) ;
}

.container-item::-webkit-scrollbar {
  border-radius: 20px;
  width: 10px;
}

.container-item::-webkit-scrollbar-thumb {
    border-radius: 20px;
  background-color: var(--main-color);
}

.container-item::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.container-item::-webkit-scrollbar-track {
  background: #F2DBB6;
} */

.recepy-title{
  position: absolute;
    margin-left: 20%;
}
#object{
  position: absolute;
  margin-left: 15%;
  margin-top: 5%;
}

.ingredients{
  z-index: 5;
  position: absolute;
  margin-left: 55%;
  margin-top: 5%;
}

.instructions{
  z-index: 5;
  position: absolute;
  margin-left: 55%;
  margin-top: 23%;
  width: 28%;

}



.cookbook{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.cookbook img{
 width: 80%;
 position: absolute;
}



#help-button{
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--orange);
  border-radius: 10px;
  border: none;
  color: var(--text-color);
  font-size: 20pt;
  font-family: cookie;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

#help-button:hover {
  background-color: var(--active-orange);
  transform: scale(1.01);


}

@media  (min-width: 600px) {
h1 {
  
  font-size: 50pt;

}

h2 {
  font-size: 30pt;

}
}